@use "colors" as var;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    background-color: var.$elegance-5-hex;
    height: 100vh;
}
.container{

    display: flex;
    flex-direction: column;
    flex-grow: 100%;
    min-height: 100vh;
}