@use "../abstracts/colors" as var;

.container {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  min-height: 100vh; 
  align-items: center;
  
  // max-width: 1200px;
  // margin: 0 auto;
  
  
}

.main {
  flex-grow: 1; 
  text-align: justify;
  padding: 3rem;
  

  .maintitle {
    display: flex;
    justify-content: center;
  }

  .articles {
    display: flex; 
    // max-width: 100%; 
    // margin-left: 1rem;


    .sideBar {
      display: block;
      width: 40%; 
      background-color: rgb(37, 37, 37);
      color: aliceblue;
      // margin-right: 1rem;
      padding: 1rem;
      box-sizing: border-box;

      .video {
        // width: 100%; 
        height: auto; 
        display: block;
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
        line-height: 1.4;
        // color: aliceblue;
      }
    }


  }
  article {
    // flex-grow: 1; 
    margin-left: 1rem; 
  }
  .artContaner{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media only screen and (max-width: 1000px) {
    .artContaner{ 
      padding-top: 1rem;
  padding-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 274px) {

    .maintitle{
     font-size: medium;

    }
   }

}

 