/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
@font-face {
  font-family: "kakam";
  src: url("../../assets/fonts/Kalam-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kakam";
  src: url(../../assets/fonts/Kalam-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "kalam";
  src: url(../../assets/fonts/Kalam-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #bfbe9c;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  align-items: center;
}

.main {
  flex-grow: 1;
  text-align: justify;
  padding: 3rem;
}
.main .maintitle {
  display: flex;
  justify-content: center;
}
.main .articles {
  display: flex;
}
.main .articles .sideBar {
  display: block;
  width: 40%;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
  padding: 1rem;
  box-sizing: border-box;
}
.main .articles .sideBar .video {
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.main .articles .sideBar p {
  font-size: 12px;
  line-height: 1.4;
}
.main article {
  margin-left: 1rem;
}
.main .artContaner {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 1000px) {
  .main .artContaner {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 274px) {
  .main .maintitle {
    font-size: medium;
  }
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #4a4633;
  padding: 2rem;
  text-align: center;
  color: #bfbe9c;
  flex-wrap: wrap;
}
.footer .footer-content {
  margin-bottom: 1rem;
}
.footer .footer-content p {
  margin: 0;
}
.footer .footer-content nav ul {
  list-style-type: none;
  padding: 0;
}
.footer .footer-content nav ul li {
  line-height: 1.5;
}
.footer .footer-content nav ul li a {
  text-decoration: none;
  color: #bfbe9c;
}
.footer .footer-content nav ul li a:hover {
  text-decoration: underline;
}
.footer .social-media {
  margin-top: 1rem;
}
.footer .social-media a {
  margin: 0 5px;
  text-decoration: none;
  color: #bfbe9c;
}
.footer .social-media a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 718px) {
  .footer p,
  .footer a,
  .footer li {
    font-size: medium;
    margin: 0 12px;
  }
}
@media only screen and (max-width: 600px) {
  .footer p,
  .footer a,
  .footer li {
    font-size: small;
    margin: 0 9px;
  }
}
@media only screen and (max-width: 471px) {
  .footer p,
  .footer a,
  .footer li {
    font-size: small;
    margin: 0 7px;
  }
}
@media only screen and (max-width: 324px) {
  .footer p,
  .footer a,
  .footer li {
    font-size: smaller;
    margin: 0 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #802922;
  padding: 3rem;
  font-family: "Kalam", sans-serif;
  font-weight: bold;
}
.header p {
  color: #bfbe9c;
  font-size: xx-large;
}
.header p span {
  color: #00bfae;
}
.header p span:hover {
  color: #bfbe9c;
}
.header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  color: rgb(191, 190, 156);
  font-size: large;
  padding-left: 1rem;
}
@media only screen and (max-width: 466px) {
  .header li {
    font-size: small;
  }
}
@media only screen and (max-width: 274px) {
  .header P {
    font-size: small;
  }
  .header .maintitle {
    font-size: small;
    color: red;
  }
}

.image {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.image img {
  width: 600px;
  height: auto;
  border: hsl(50, 11.41%, 79.56%) solid 15px;
  box-shadow: hsl(0, 0%, 0%) 1px 1px 3px;
  border-radius: 5px;
}
@media only screen and (min-width: 1450px) {
  .image img {
    width: 800px;
    height: auto;
  }
}
@media only screen and (max-width: 1098px) {
  .image img {
    width: 400px;
    height: auto;
  }
}
@media only screen and (max-width: 824px) {
  .image img {
    width: 470px;
    height: auto;
  }
}
@media only screen and (max-width: 742px) {
  .image img {
    width: 450px;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .image img {
    width: 400px;
    height: auto;
  }
}
@media only screen and (max-width: 506px) {
  .image img {
    width: 350px;
    height: auto;
  }
}
@media only screen and (max-width: 471px) {
  .image img {
    width: 250px;
    height: auto;
  }
}
@media only screen and (max-width: 324px) {
  .image img {
    display: none;
  }
}

.sideBar {
  display: block;
  width: 40%;
  float: left;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
  margin-right: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.sideBar .video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.sideBar p {
  font-size: 12px;
  line-height: 1.4;
  color: aliceblue;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
